body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans' sans-serif;
    background-color: #f4f4f4;
    
}
.container{
margin: 0 auto;
    width: 1300px;
    background:#ffffff;
    
}
.sitenav{
    display: flex;
    align-items:center;
    height: 46px;
    width: 1300px;
top: 0;
    background-color:#fff;
    position: fixed;
    box-shadow: 0px 4px 20px 0px #0000001A;

    
}
.logo{
    position: absolute;
    width: 58px;
    height: 20px;
    left: 100px;
    top: 15px;
    
}
.logo:hover{
    opacity: 0.8;
}
.logo:active{
    opacity: 0.4;
}
.nav{
    display: flex; 
    align-items: center;
    margin-left: auto;
    margin-top: 15px;
}
.list,.link{
    color:black;
    display: flex;
    justify-content:space-between;
    list-style-type:none ;
    text-decoration: none;
    margin-right: 2px;
    height: 35px; 
    
}
.link:active{
    background-color: #191919B2;
    color: #fff;
    
}
.li2:hover{
    box-shadow: 0px -2px 1px  #191919 inset;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    margin-top: 10px;
}
.wrapper li{
    color:black;
    position: relative;
    padding: 15px 30px;
}
.wrapper li:hover  ul{
    display: block;
} 
.wrapper li  ul{
    display: none;
    position: absolute;
    top: 50px;
    left: -15px;
    width: 90px;
    height: 100px;
    list-style: none;
    border-radius: 0 0 5px 50px;
}
.wrapper li  ul li{
    background-color: #ffffff;
    padding: 15px 10px;
    box-shadow: 0px 4px 24px 0px #0000001A;
}
.wrapper li  ul li:hover{
    background-color: #00BAFC;
    color: #ffffff;  
}
.wrapper li  ul li:active{
    background-color:#06597774;
}

.nav_btn{
    height: 20px;
    width: 139px;
    color:#ffffff;
    border-radius: 5px;
    padding:10px 20px 11px 25px;
    text-decoration: none;
    background: #00BAFC;  
    margin-right: 12px;
    margin-top: -16px;
}
.nav_btn:hover{
    
    background: #FFFFFF;
    box-shadow: 1px 1px 1px  #00BAFC inset,
    1px 1px 1px ;
    color: #00BAFC;
}
.nav_btn:active{
    background-color: #00BAFC99;
    color: #ffffff;
    box-shadow: none;
}

header{
    width: 1200px;
    margin: 0 auto;
}
.header{
    height: 284px;
    width: 1300px;
    margin-top: 56px;
    border-radius: 0px;
    padding: 72px 0px 72px 0px;
    background-color: #ffffff;
}
.header_text_wrapper{
    padding: 50px 0px;
}
.header h1{
    text-align: center;
}
.header p{
    height: 72px;
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
footer{
    width: 1200px;
    margin: 0 auto;
}
.servise{
    height: 378px;
    width: 804px;
    border-radius: 5px;
    padding: 32px;
    box-shadow: 0px 10px 16px 0px #0000001F;
    margin: 64px auto;
    background-color:#ffffff;
}
.servis_wrapper{
    margin-left: 250px;
}
.servis_wrapper ul a{
    color: black;
    
}
.servis_link{
    background-color: #00BAFC;
    text-decoration: none;
    color: white;
    height: 50px;
    width: 167px;
    border-radius: 5px;
    padding:5px;
    
}
.no1{
    background-image: url(../img/website-illustration.png);
    background-repeat: no-repeat;
    background-position-x: 32px ;
    background-position-y: 32px;
}
.no2{
    background-image: url(../img/bot-illustration.png);
    background-repeat: no-repeat;
    background-position-x: 32px ;
    background-position-y: 32px;
}
.no3{
    background-image: url(../img/smm-illustration.png);
    background-repeat: no-repeat;
    background-position-x: 32px ;
    background-position-y: 32px;
}
.no4{
    background-image: url(../img/design-illustration.png);
    background-repeat: no-repeat;
    background-position-x: 32px ;
    background-position-y: 32px;
}
.no5{
    background-image: url(../img/crm-illustration.png);
    background-repeat: no-repeat;
    background-position-x: 32px ;
    background-position-y: 32px;
}

ul li a{
    text-decoration: none;
}


/* start footer */


.footer_h3{
    text-align: center;
    color: #ffffff;
}
.footer_text{
    margin: 0 auto;
    height: 48px;
    width: 719px;
    color: #ffffff;
    
    
}
form{
    width: 1200px;
    margin: 0;
}
.form{
    height: 270px;
    width: 348px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #ffffff;
}
input{
    height: 36px;
    margin: 15px;
    width: 300px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    background-color:rgba(243, 243, 243, 1);
    
}
.form_btn{
    height: 40px;
    width: 167px;
    margin-left: 90px;
    border-radius: 5px;
    padding: 8px 16px 8px 16px;
    background-color: rgba(0, 186, 252, 1);
    color: #ffffff;
    border: none;
}
/* footer finished */
/* start footer menu */
footer{
    width: 1200px;
    margin: 0 auto;
}
.footer{
    
    width: 1300px;
    height: 400px;
    background-color: #00BAFC;
    
}

.footermenu_text_wrapper{
    color:white;
    height: 200px;
    width: 350px;
    margin-left: 80px;
} 


.footerlist{
    list-style-type: none;
}
.footerlink{
    text-decoration: none;
    margin-left: -150px;
    padding-top: 9px;
    color: #fff;
}

/* vvvv */

.footermenu{
    height: 400px;
    width: 1300px;
    background-color: black;    
}
.footer-main{
    padding: 56px 400px 56px 100px;
    display: flex;
}
.footer-block{
    color: white;
    margin-top: -230px;
}
.footer-block h4{
    padding-bottom:25px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24;
    margin-top: 0px;
}
.footer-block p{
    width: 320px;
    margin-top:-260px;
}
.footer-list{
    margin-bottom: 8px;
    margin-left: 30px;
}
.footer-block-2 a,.footer-block-3 a{
    text-decoration: none;
    color: white;
}
.footer-block-2 h4{
    width: 100%;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin-left: 70px;
    padding-right: 87px;
}
.footer-block-3 h4{
    width: 150px;
    margin: 0;
    font-weight: 700;  
    padding-left: 37px;
    font-size: 20px;
    color: white;
}
.footer-block-3_list a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.hover a:hover{
    color: #00bafc;
}
.hover:active{
    opacity: 0.6;
}
